@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-c1-neutral-light font-sans;
  }
  h1 {
    @apply text-2xl text-white uppercase max-[320px]:text-xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl leading-7 text-white uppercase max-[320px]:text-lg;
    @apply font-bold;
  }
  h3 {
    @apply text-lg leading-6 max-[320px]:text-md;
    @apply font-semibold;
  }
  h4 {
    @apply text-md leading-5 max-[320px]:text-base;
    @apply font-semibold;
  }
  p {
    @apply text-base leading-5 max-[320px]:text-sm;
    @apply font-semibold;
  }
  body {
    @apply bg-background text-foreground;
  }
  .main-button {
    @apply bg-c1-primary-base text-white py-4 rounded-2xl text-md font-semibold uppercase;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }
  .flex-row-between {
    @apply flex flex-row items-center justify-between;
  }
  .flex-col-between {
    @apply flex flex-col items-center justify-between;
  }
  .flex-col-start {
    @apply flex flex-col items-start justify-center;
  }
  .flex-row-start {
    @apply flex flex-row items-start justify-center;
  }
  .flex-col-end {
    @apply flex flex-col items-end justify-center;
  }
  .flex-row-end {
    @apply flex flex-row items-end justify-center;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
}